<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- bean definitions here -->
    <bean id="Student" class="org.example.Student">
        <constructor-arg index="0" value="01234"/>
        <constructor-arg index="1" value="Victor"/>
        <constructor-arg index="2">
            <list>
                <ref bean="Phone"/>
                <ref bean="PhoneTwo"/>
            </list>
        </constructor-arg>
        <constructor-arg index="3" ref="Address"/>
    </bean>

    <bean id="Phone" class="org.example.Phone">
        <constructor-arg index="0" value="408-555-5555"/>
    </bean>

    <bean id="PhoneTwo" class="org.example.Phone">
        <constructor-arg index="0" value="408-555-7777"/>
    </bean>

    <bean id="Address" class="org.example.Address">
        <constructor-arg index="0" value="San Jose"/>
        <constructor-arg index="1" value="Monterey"/>
        <constructor-arg index="2" value="USA"/>
        <constructor-arg index="3" value="90200"/>
    </bean>

</beans>